name: args
version: 2.3.0
homepage: https://github.com/dart-lang/args
description: >-
 Library for defining parsers for parsing raw command-line arguments into a set
 of options and values using GNU and POSIX style options.

environment:
  sdk: '>=2.12.0 <3.0.0'

dev_dependencies:
  pedantic: ^1.10.0
  test: ^1.16.0
