name: args
version: 2.5.0
description: >-
  Library for defining parsers for parsing raw command-line arguments into a set
  of options and values using GNU and POSIX style options.
repository: https://github.com/dart-lang/args

topics:
  - cli

environment:
  sdk: ^3.0.0

dev_dependencies:
  dart_flutter_team_lints: ^1.0.0
  test: ^1.16.0
